<div class="scrollmenu header">
    <ul class="header">
        <li><a href="{{ site.url }}">Home</a></li>
        <li><a href="/pages/arc.html">ARC</a></li>
        <li><a href="/pages/notes.html">Notes</a></li>
        <li><a href="/pages/videos.html">Videos</a></li>
        <li><a href="/pages/code.html">Code</a></li>
        <li><a href="/pages/bash.html">Bash</a></li>
        <li><a href="/pages/caddy.html">Caddy</a></li>
        <li><a href="/pages/git.html">Git</a></li>
        <li><a href="/pages/python.html">Python</a></li>
    </ul>
</div>

<!-- {% if page.url contains '/page/topics' %}
                class="active"
            {% else %}
                class="inactive"
            {% endif %} -->
