<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="subtitle" content="">
    <meta name="description" content=""> <!-- 150 words or less -->
    <meta name="author" content="Victor-ray, S.">
    <meta name="copyright" content="MIT License © 2023">
    <meta name="robots" content="noindex,nofollow">
    <meta name="AdsBot-Google" content="noindex,nofollow">
    <meta name="googlebot" content="noindex,nofollow">
    <meta name="googlebot-news" content="noindex,nofollow"> 
    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <!-- Theme by mattgraham (https://twitter.com/mattgraham) -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="icon" href="data:,">
    {% include head-custom.html %}
  </head>
  <body>
      <div id="header">
        <nav class="scrollmenu">
            {% include simple-menu.html %}
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          <hr>
          <span class="credits left">Hosted on GitHub Pages</span>
          <span class="credits right">Maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
        </div>

        {{ content }}

      </section>

    </div>
  </body>
</html>
